services:
  auth-db:
    image: postgres:16
    container_name: auth-db
    restart: always
    environment:
      POSTGRES_DB: auth_db
      POSTGRES_USER: auth_user
      POSTGRES_PASSWORD: auth_pass
    ports:
      - "5433:5432"
    volumes:
      - auth-data:/var/lib/postgresql/data

  user-db:
    image: postgres:16
    container_name: user-db
    restart: always
    environment:
      POSTGRES_DB: user_db
      POSTGRES_USER: user_user
      POSTGRES_PASSWORD: user_pass
    ports:
      - "5436:5432"
    volumes:
      - user-data:/var/lib/postgresql/data

  account-db:
    image: postgres:16
    container_name: account-db
    restart: always
    environment:
      POSTGRES_DB: account_db
      POSTGRES_USER: account_user
      POSTGRES_PASSWORD: account_pass
    ports:
      - "5434:5432"
    volumes:
      - account-data:/var/lib/postgresql/data

  transaction-db:
    image: postgres:16
    container_name: transaction-db
    restart: always
    environment:
      POSTGRES_DB: transaction_db
      POSTGRES_USER: transaction_user
      POSTGRES_PASSWORD: transaction_pass
    ports:
      - "5435:5432"
    volumes:
      - transaction-data:/var/lib/postgresql/data

volumes:
  auth-data:
  user-data:
  account-data:
  transaction-data:
